<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>工作台（水质）</title>
    <style>
        .div-height{
            height: calc(100vh - 110px - 10px);
            overflow-y: scroll;
            overflow-x: hidden;
        }
        @media (min-height: 1080px) {
            .div-height {
                overflow-y: hidden;
            }
        }
    </style>
</head>
<body>
<div style="padding-top: 10px" class="container-fluid">
    <div id="div_sz" class="row div-height">
        <div class="col-lg-4 col-sm-6 col-xs-12 paddingRightNull" v-for="data in datas">
            <div class="panel panel-primary">
                <div class="panel-heading" data-toggle="modal" data-target="#myModal">
                    {{data.name}}
                </div>
                <div class="panel-body">
                    <span class="pull-left">时间：{{formatDate(data.time)}}</span>
                    <span class="pull-right" v-bind:class="{'text-danger': data.level>'C' }">等级：{{levelConvert(data.level)}}</span>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>监测项目</th>
                        <th>检测值</th>
                        <th>水质等级</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in data.itemData" v-bind:class="{'text-danger': item.level>'C' }">
                        <td>{{++index}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.value}}</td>
                        <td>{{levelConvert(item.level)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog" style="width: 1002px">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">水质监测站平行曲线图</h4>
                </div>
                <div class="modal-body" id="mainChart" style="width: 1000px;height:800px;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    let app = new Vue({
        el:'#div_sz',
        data:{
            datas:[
               /* {
                    name:'东平湖北出口水质监测站',
                    time:'2017-06-30 16:40',
                    level:'A',
                    itemData:[
                        {
                            name:'总氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'导电率',
                            value:'12',
                            level:'B'
                        },
                        {
                            name:'PH值',
                            value:'1',
                            level:'C'
                        },
                        {
                            name:'溶解氧',
                            value:'12',
                            level:'D'
                        },
                        {
                            name:'总磷',
                            value:'12',
                            level:'E'
                        },
                        {
                            name:'高锰酸盐指数',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'水温',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'氨氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'浑浊度',
                            value:'22',
                            level:'B'
                        }
                    ]
                },
                {
                    name:'南四湖出口水质监测站',
                    time:'2017-06-30 16:40',
                    level:'D',
                    itemData:[
                        {
                            name:'总氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'导电率',
                            value:'12',
                            level:'B'
                        },
                        {
                            name:'PH值',
                            value:'1',
                            level:'C'
                        },
                        {
                            name:'溶解氧',
                            value:'12',
                            level:'D'
                        },
                        {
                            name:'总磷',
                            value:'12',
                            level:'E'
                        },
                        {
                            name:'高锰酸盐指数',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'水温',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'氨氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'浑浊度',
                            value:'22',
                            level:'B'
                        }
                    ]
                },
                {
                    name:'临清市界水质监测站',
                    time:'2017-06-30 16:40',
                    level:'A',
                    itemData:[
                        {
                            name:'总氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'导电率',
                            value:'12',
                            level:'B'
                        },
                        {
                            name:'PH值',
                            value:'1',
                            level:'C'
                        },
                        {
                            name:'溶解氧',
                            value:'12',
                            level:'D'
                        },
                        {
                            name:'总磷',
                            value:'12',
                            level:'E'
                        },
                        {
                            name:'高锰酸盐指数',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'水温',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'氨氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'浑浊度',
                            value:'22',
                            level:'B'
                        }
                    ]
                },
                {
                    name:'穿黄管理处水质监测站',
                    time:'2017-06-30 16:40',
                    level:'A',
                    itemData:[
                        {
                            name:'总氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'导电率',
                            value:'12',
                            level:'B'
                        },
                        {
                            name:'PH值',
                            value:'1',
                            level:'C'
                        },
                        {
                            name:'溶解氧',
                            value:'12',
                            level:'D'
                        },
                        {
                            name:'总磷',
                            value:'12',
                            level:'E'
                        },
                        {
                            name:'高锰酸盐指数',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'水温',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'氨氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'浑浊度',
                            value:'22',
                            level:'B'
                        }
                    ]
                },
                {
                    name:'东平湖八里湾泵站水质监测站',
                    time:'2017-06-30 16:40',
                    level:'A',
                    itemData:[
                        {
                            name:'总氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'导电率',
                            value:'12',
                            level:'B'
                        },
                        {
                            name:'PH值',
                            value:'1',
                            level:'C'
                        },
                        {
                            name:'溶解氧',
                            value:'12',
                            level:'D'
                        },
                        {
                            name:'总磷',
                            value:'12',
                            level:'E'
                        },
                        {
                            name:'高锰酸盐指数',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'水温',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'氨氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'浑浊度',
                            value:'22',
                            level:'B'
                        }
                    ]
                },
                {
                    name:'博兴水质监测站',
                    time:'2017-06-30 16:40',
                    level:'A',
                    itemData:[
                        {
                            name:'总氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'导电率',
                            value:'12',
                            level:'B'
                        },
                        {
                            name:'PH值',
                            value:'1',
                            level:'C'
                        },
                        {
                            name:'溶解氧',
                            value:'12',
                            level:'D'
                        },
                        {
                            name:'总磷',
                            value:'12',
                            level:'E'
                        },
                        {
                            name:'高锰酸盐指数',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'水温',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'氨氮',
                            value:'12',
                            level:'A'
                        },
                        {
                            name:'浑浊度',
                            value:'22',
                            level:'B'
                        }
                    ]
                }*/
            ]
        },
        methods:{
            formatDate:function(date){
                return util.timeFormat(date,'yyyy-MM-dd hh:mm')
            },
            levelConvert:function(level){
                switch (level){
                    case 'A':
                        return "Ⅰ";
                    case 'B':
                        return "Ⅱ";
                    case 'C':
                        return "Ⅲ";
                    case 'D':
                        return "Ⅴ";
                    case 'E':
                        return "Ⅳ";
                    default:
                        return null
                }
            }
        }
    });

    $.ajax({
        url: "wtlvController/query.mvc",
        async: false,
        type: "get",
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
        data : {
        }
    }).success(function(data){
        console.log(data);
        app.datas = data;
    });

    $('#myModal').on('show.bs.modal', function (event) {
        var div = $(event.relatedTarget) // Button that triggered the modal
        var title = div.html().trim();
        //根据title查询近七天数据
        myChart = echarts.init(document.getElementById('mainChart'));
        Promise.resolve(
                $.ajax({
                    url: "wtlvController/queryList.mvc",
                    async: true,
                    type: "get",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data : {
                        name:title
                    }
                })
        ).then(function(datas){
            let data = new Array();
            datas.forEach(function(item, index){
                let arr = new Array();
                arr.push(item.rownum);
                arr.push(item.sw);
                arr.push(item.gmsj);
                arr.push(item.an);
                arr.push(item.hzd);
                arr.push(item.ddl);
                arr.push(item.zn);
                arr.push(item.rjy);
                arr.push(item.p);
                arr.push(item.ph);
                arr.push(app.levelConvert(item.waterlevel));
                data.push(arr);
            });
            option.series[0].data = data;
            myChart.setOption(option);
        });
    });
    $('#myModal').on('hidden.bs.modal', function (event) {
        myChart.dispose();
    });
    // 基于准备好的dom，初始化echarts实例
    let myChart = null;

    let schema = [
        {name: 'date', index: 0, text: '日期'},
        {name: 'w01010', index: 1, text: '水温'},
        {name: 'w01019', index: 2, text: '高锰酸盐指数'},
        {name: 'w21003', index: 3, text: '氨氮'},
        {name: 'w01003', index: 4, text: ' 浑浊度'},
        {name: 'w01014', index: 5, text: '导电率'},
        {name: 'w21001', index: 6, text: '总氮'},
        {name: 'w01009', index: 7, text: '溶解氧'},
        {name: 'w21011', index: 8, text: '总磷'},
        {name: 'w01001', index: 9, text: 'PH值'},
        {name: '等级', index: 10, text: '等级'}
    ];

    let lineStyle = {
        normal: {
            width: 1,
            opacity: 0.5
        }
    };

    let option = {
        backgroundColor: '#dff0d8',
        legend: {
            bottom: 30,
            data: ['监测站'],
            itemGap: 20,
            textStyle: {
                color: '#000',
                fontSize: 14
            }
        },
        tooltip: {},

        parallelAxis: [
            {dim: 0, name: schema[0].text, inverse: true, nameLocation: 'start'},
            {dim: 1, name: schema[1].text},
            {dim: 2, name: schema[2].text},
            {dim: 3, name: schema[3].text},
            {dim: 4, name: schema[4].text},
            {dim: 5, name: schema[5].text},
            {dim: 6, name: schema[6].text},
            {dim: 7, name: schema[7].text},
            {dim: 8, name: schema[8].text},
            {dim: 9, name: schema[9].text},
            {dim: 10, name: schema[10].text,type: 'category', data: ['Ⅰ', 'Ⅱ', 'Ⅲ', 'Ⅴ', 'Ⅳ']}
        ],
        parallel: {
            left: '5%',
            right: '18%',
            bottom: 100,
            parallelAxisDefault: {
                type: 'value',
                name: 'AQI指数',
                nameLocation: 'end',
                nameGap: 20,
                nameTextStyle: {
                    color: '#000',
                    fontSize: 12
                },
                axisLine: {
                    lineStyle: {
                        color: '#aaa'
                    }
                },
                axisTick: {
                    lineStyle: {
                        color: '#777'
                    }
                },
                splitLine: {
                    show: false
                },
                axisLabel: {
                    textStyle: {
                        color: '#000'
                    }
                }
            }
        },
        series: [
            {
                name: '监测站',
                type: 'parallel',
                lineStyle: lineStyle,
                data: []
            }
        ]
    };
</script>
</body>
</html>