<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>工作台（水质）</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <script src="js/jquery-1.11.2.min.js" ></script>
    <script src="js/bootstrap.js" ></script>
    <script src="js/vue.js" ></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/Util.js" ></script>
    <style>
        .div-height{
            height: calc((100vh - 130px) / 2);
        }
    </style>
</head>
<body>
<div id="div_sz" class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12 div-height" v-for="data in datas">
            <div class="panel panel-primary">
                <div v-bind:id="data.name" class="panel-heading" data-toggle="modal" data-target="#myModal">
                    <span id="title">{{data.name}}</span>
                    <span>（时间：{{formatDate(data.time)}}）</span>
                    <span class="pull-right" v-bind:class="{'text-danger': data.level>'C' }">等级：{{levelConvert(data.level)}}</span>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>监测项目</th>
                        <th>检测值</th>
                        <th>水质等级</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in data.itemData" v-bind:class="{'text-danger': item.level>'C' }">
                        <td>{{++index}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.value}}</td>
                        <td>{{levelConvert(item.level)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4" v-for="index_1 in 3">
            <table class="table table-bordered bg-warning" style="margin-bottom: 0px;">
                <thead>
                <tr>
                    <th>#</th>
                    <th>监测项目</th>
                    <th>1级</th>
                    <th>2级</th>
                    <th>3级</th>
                    <th>4级</th>
                    <th>5级</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(data,index) in items" v-if="Math.floor(index/2)===index_1-1">
                    <td>{{++index}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.leval1}}</td>
                    <td>{{data.leval2}}</td>
                    <td>{{data.leval3}}</td>
                    <td>{{data.leval4}}</td>
                    <td>{{data.leval5}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" style="width: 1002px">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">水质监测站平行曲线图</h4>
                </div>
                <div class="modal-body" id="mainChart" style="width: 1000px;height:800px;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="text" class="form-control" id="text">
<button type="button" class="btn btn-default" id="btn" onclick="showModal($('#text').val())">button</button>
<script type="text/javascript">
    let app = new Vue({
        el:'#div_sz',
        data:{
            datas:[
            ],
            items:[
                {
                    name:'总氮',
                    leval1:'0~0.2',
                    leval2:'0.2~0.5',
                    leval3:'0.5~1.0',
                    leval4:'1.0~1.5',
                    leval5:'1.5~2.0'
                },
                {
                    name:'ph',
                    leval1:'6~9',
                    leval2:'6~9',
                    leval3:'6~9',
                    leval4:'6~9',
                    leval5:'6~9'
                },
                {
                    name:'溶解氧',
                    leval1:'7.5~100',
                    leval2:'6~7.5',
                    leval3:'5~6',
                    leval4:'3~5',
                    leval5:'2~3'
                },
                {
                    name:'总磷',
                    leval1:'0~0.02',
                    leval2:'0.02~0.1',
                    leval3:'0.1~0.2',
                    leval4:'0.2~0.3',
                    leval5:'0.3~0.4'
                },
                {
                    name:'高锰酸盐指数',
                    leval1:'0~2',
                    leval2:'2~4',
                    leval3:'4~6',
                    leval4:'6~10',
                    leval5:'10~15'
                },
                {
                    name:'氨氮',
                    leval1:'0~0.15',
                    leval2:'0.15~0.5',
                    leval3:'0.5~1.0',
                    leval4:'1.0~1.5',
                    leval5:'1.5~2.0'
                }
            ]
        },
        methods:{
            formatDate:function(date){
                return util.timeFormat(date,'yyyy-MM-dd hh:mm')
            },
            levelConvert:function(level){
                switch (level){
                    case 'A':
                        return "Ⅰ";
                    case 'B':
                        return "Ⅱ";
                    case 'C':
                        return "Ⅲ";
                    case 'D':
                        return "Ⅴ";
                    case 'E':
                        return "Ⅳ";
                    default:
                        return null
                }
            }
        }
    });

    $.ajax({
        url: "wtlvController/query.mvc",
        async: false,
        type: "get",
        contentType: "application/json; charset=utf-8",
        dataType: 'json',
        data : {
        }
    }).success(function(data){
        console.log(data);
        app.datas = data;
    });

    $('#myModal').on('show.bs.modal', function (event) {
        /*var div = $(event.relatedTarget) // Button that triggered the modal
        var title = div.html().trim();*/
        var title =  $("#title").text();
        //根据title查询近七天数据
        myChart = echarts.init(document.getElementById('mainChart'));
        Promise.resolve(
                $.ajax({
                    url: "wtlvController/queryList.mvc",
                    async: true,
                    type: "get",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data : {
                        name:title
                    }
                })
        ).then(function(datas){
            let data = new Array();
            datas.forEach(function(item, index){
                let arr = new Array();
                arr.push(item.rownum);
                arr.push(item.sw);
                arr.push(item.gmsj);
                arr.push(item.an);
                arr.push(item.hzd);
                arr.push(item.ddl);
                arr.push(item.zn);
                arr.push(item.rjy);
                arr.push(item.p);
                arr.push(item.ph);
                arr.push(app.levelConvert(item.waterlevel));
                data.push(arr);
            });
            option.series[0].data = data;
            myChart.setOption(option);
        });
    });
    $('#myModal').on('hidden.bs.modal', function (event) {
        myChart.dispose();
    });
    // 基于准备好的dom，初始化echarts实例
    let myChart = null;

    let schema = [
        {name: 'date', index: 0, text: '日期'},
        {name: 'w01010', index: 1, text: '水温'},
        {name: 'w01019', index: 2, text: '高锰酸盐指数'},
        {name: 'w21003', index: 3, text: '氨氮'},
        {name: 'w01003', index: 4, text: ' 浑浊度'},
        {name: 'w01014', index: 5, text: '导电率'},
        {name: 'w21001', index: 6, text: '总氮'},
        {name: 'w01009', index: 7, text: '溶解氧'},
        {name: 'w21011', index: 8, text: '总磷'},
        {name: 'w01001', index: 9, text: 'PH值'},
        {name: '等级', index: 10, text: '等级'}
    ];

    let lineStyle = {
        normal: {
            width: 1,
            opacity: 0.5
        }
    };

    let option = {
        backgroundColor: '#dff0d8',
        legend: {
            bottom: 30,
            data: ['监测站'],
            itemGap: 20,
            textStyle: {
                color: '#000',
                fontSize: 14
            }
        },
        tooltip: {},

        parallelAxis: [
            {dim: 0, name: schema[0].text, inverse: true, nameLocation: 'start'},
            {dim: 1, name: schema[1].text},
            {dim: 2, name: schema[2].text},
            {dim: 3, name: schema[3].text},
            {dim: 4, name: schema[4].text},
            {dim: 5, name: schema[5].text},
            {dim: 6, name: schema[6].text},
            {dim: 7, name: schema[7].text},
            {dim: 8, name: schema[8].text},
            {dim: 9, name: schema[9].text},
            {dim: 10, name: schema[10].text,type: 'category', data: ['Ⅰ', 'Ⅱ', 'Ⅲ', 'Ⅴ', 'Ⅳ']}
        ],
        parallel: {
            left: '5%',
            right: '18%',
            bottom: 100,
            parallelAxisDefault: {
                type: 'value',
                name: 'AQI指数',
                nameLocation: 'end',
                nameGap: 20,
                nameTextStyle: {
                    color: '#000',
                    fontSize: 12
                },
                axisLine: {
                    lineStyle: {
                        color: '#aaa'
                    }
                },
                axisTick: {
                    lineStyle: {
                        color: '#777'
                    }
                },
                splitLine: {
                    show: false
                },
                axisLabel: {
                    textStyle: {
                        color: '#000'
                    }
                }
            }
        },
        series: [
            {
                name: '监测站',
                type: 'parallel',
                lineStyle: lineStyle,
                data: []
            }
        ]
    };
</script>
<script>
    function showModal(id){
        $("#"+id).click();
    }
</script>
</body>
</html>